    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="container nav-container">
            <a href="index.html" class="nav-logo">
                <img src="images/author/mrz-logo.png" alt="MRZ Signature Logo" style="height: 55px; width: auto; margin: -5px 0;">
            </a>
            <div class="nav-toggle" id="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-menu">
                <li><a href="index.html#home" class="nav-links">Home</a></li>
                <li><a href="index.html#books" class="nav-links">Books</a></li>
                <li><a href="index.html#news" class="nav-links">News</a></li>
                <li><a href="index.html#about" class="nav-links">About</a></li>
                <!-- <li><a href="index.html#reviews" class="nav-links">Reviews</a></li> -->
                <li><a href="book-clubs.html" class="nav-links">For Book Clubs</a></li>
            </ul>
        </div>
    </nav>
